/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Márta 2014, 18:42:07
    Author     : Aoife
*/
p.Irish {color: black; font-family: serif; font-size: medium; text-align: right; margin-top: 3em; border-top: 1px solid black;}
p.Irish:before {content: "* "}
p.Sound {color: #000; font-family: serif; font-size: medium; text-align: right;}
p.Sound:before {content: "["}
p.Sound:after {content: "]"}
p.English{color: #000000; font-family: serif; font-size: medium; text-align: right;}
p.CV{color: navy; font-family: serif; font-size: large; text-align: right;}
p.Pic:before{content: "<p>"}
p.Pic:after{content: "</p>"}
p.Pic {margin-top: 4em; border-top: 2px solid #398439;}
body {background-color: #B6E3DA; margin: 0 50px}
